*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient( 291.7deg,  rgba(255,134,134,1) 21.5%, rgba(249,141,255,1) 93.1% );
}
/* .question_text{
    font-size: 40px;
    color: rgb(194, 28, 83);
    text-align: center;
} */
.second{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.emoji {
    height: 70vh;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("assests\heart3.png");
}
.buttons{
    margin-left: 35%;
    margin-right: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}
.yes{
    margin:5%;
    background-color: transparent;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    font-size: 30px;
}
.no1,.no2,.no3{
    margin:5%;
    background-color: transparent;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    font-size: 30px;
}
.no2:hover + .emoji img{
    visibility: visible;
}
  .no1{
    transition: transform 0.3s ease;
  }
  .image{
    transition: transform 0.3s ease;
  }
.all{
    margin: 5%;
}